@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 2B5049 */
/* 96B47A */


*{
    font-family: "Montserrat", sans-serif;
}

.gradient{
    color: white;
    background: linear-gradient(to right, #2B5049, #96B47A);
}

.shadow_custom{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.slide{
    transition: transform 0.3s ease;
}

.slide:hover {
    transform: scale(1.1,1.1);
}

.text-more{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article{
    height: 22rem;
    transition: transform 0.3s ease;
}

.article:hover{
    height: 23rem;
    transform: scale(1.1,1.1);
}

.article .read_more{
    opacity: 0;
    transition: opacity 0.5s ease;
}

.article:hover .read_more{
    opacity: 1;
}

.router-link-active{
    color: #E1AC5D;
    font-weight: 500;
}

.radius-custom{
    border-radius: 80px 0 0 50px;
    
}

.radius-customs{
    border-radius: 70px 0 0 40px;
}

.border-custom{
    border-left: #E1AC5D 10px solid;
    border-bottom: #E1AC5D 10px solid;
}